{#**
 * 2007-2020 PrestaShop
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0).
 * It is also available through the world-wide-web at this URL: https://opensource.org/licenses/AFL-3.0
 *#}

{% trans_default_domain 'Module.Demovieworderhooks.Admin' %}

<div class="tab-pane fade show active" id="trackingTabContent" role="tabpanel" aria-labelledby="trackingTab">
  <table class="table">
    <thead>
      <tr>
        <th>{{ 'Location'|trans }}</th>
        <th>{{ 'Arrival date'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% if packageLocations is empty %}
      <tr>
        <td>-</td>
        <td>-</td>
      </tr>
    {% else %}
      {% for packageLocation in packageLocations %}
        <tr>
          <td>{{ packageLocation.location }}</td>
          <td>
            {% if not packageLocation.hasArrived %}
              <span class="badge badge-danger">
              {{ packageLocation.date }}
              </span>
            {% else %}
              {{ packageLocation.date }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>
