{#/**
* 2007-2020 PrestaShop SA and Contributors
*
* NOTICE OF LICENSE
*
* This source file is subject to the Academic Free License 3.0 (AFL-3.0).
* It is also available through the world-wide-web at this URL: https://opensource.org/licenses/AFL-3.0
*/#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% form_theme contentBlockForm 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit.html.twig' %}

{% block content %}
{{ form_start(contentBlockForm) }}
<div class="row justify-content-center">
  <div class="col-xl-12">
    <div class="card">
      <h3 class="card-header">
        <i class="material-icons">business_center</i> {{ title|trans({}, 'Modules.DemoMultistoreForm.Admin') }}
      </h3>
      <div class="card-block row">
        <div class="card-text">
          {{ form_widget(contentBlockForm) }}
        </div>
      </div>
      <div class="card-footer">
        <a href="{{ path('demo_multistore') }}" class="btn btn-outline-secondary">{{ 'Cancel'|trans({}, 'Admin.Actions') }}</a>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" id="form-maintenance-save-button">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(contentBlockForm) }}
  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/demomultistoreform/views/js/createForm.js') }}"></script>
  {% endblock %}
