{#/**
 * Copyright since 2007 PrestaShop SA and Contributors
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 */#}

{% set layoutHeaderToolbarBtn = {
  'add' : {
    'href': path('demo_multistore_create'),
    'desc': 'Add new content block'|trans({}, 'Admin.International.Feature'),
    'icon': 'add_circle_outline'
  },
  'generate fixtures': {
    href: path('demo_multistore_fixtures', {}),
    desc: 'Generate fixtures'|trans({}, 'Modules.DemoMultistoreForm.Admin'),
    icon: 'add_circle_outline',
  }
} %}

{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% form_theme configurationForm 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit.html.twig' %}


{% block content %}
<div class="alert alert-info" role="alert">
  <p class="alert-text">
    The following grid contains a list of elements that you can edit or delete. All elements that you will create will be displayed
    in this list, if they are associated to a shop related to the current shop context.
  </p>
</div>
  {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': contentBlockGrid} %}
<div class="alert alert-info" role="alert">
  <p class="alert-text">
    The following configuration form is multistore compatible, it means that if multistore is used, fields will be preceded by multistore checkboxes,
    and followed by a multistore dropdown if values have been overridden below the current shop context.
    See module's README file for more informations and links to the relevant documentation.
  </p>
</div>
  {{ form_start(configurationForm) }}
<div class="row justify-content-center">
  <div class="col-xl-12">
    <div class="card">
      <h3 class="card-header">
        <i class="material-icons">business_center</i> {{ 'Content blocks configuration'|trans({}, 'Modules.DemoMultistoreForm.Admin') }}
      </h3>
      <div class="card-block row">
        <div class="card-text">
          {{ form_widget(configurationForm) }}
          {{ form_rest(configurationForm) }}
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" id="form-maintenance-save-button">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../modules/demomultistoreform/views/js/form.js') }}"></script>
  {% endblock %}
